<?xml version="1.0"?>
<model>
  <name>grass_field</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <description>
    Dokulu cim yamasi. QR pad'in etrafina konur.
    AMAC SADECE GORSELLIK DEGIL: QR duz tek renkli bir zemin uzerindeyken
    tespit gercekte oldugundan KOLAY olur. Dokulu zemin, algi hattini
    gercekci bir arka plana karsi sinar.
  </description>
</model>
